<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://oss.pgyer.com/e9f65ec096c09cc99b934b3445474a59.ipa?Expires=1536748351&OSSAccessKeyId=uKgrdAVRfXyY0LsE&response-content-disposition=attachment%3B+filename%3Dsklr_trunk_0.0.233.57224.ipa&Signature=bHGNGHI%2F1LT6mO6FMLYuRGcpD9w%3D</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.baldrs.agame</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>releaseNotes</key>
                <string>Agame-Alpha</string>
                <key>title</key>
                <string>Agame-Alpha</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
